# Chris Joakim, Microsoft, 2021/01/07

Jinja2
SQLAlchemy
arrow
azure-cosmos==4.2.0
azure-eventhub
azure-mgmt-resource
azure-storage-blob
azure-storage-file-datalake
docopt
flake8
humanize
m26
matplotlib
mysql-connector-python
nltk
numpy
openpyxl
pandas
psutil
psycopg2-binary
pyarrow
pylint
pymongo
pyodbc
pytest
pytest-cov
redis
requests
scikit-learn
scipy
